.single-details{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    grid-area: viewAllWarden; 
}
.single-all-cards{
    background-color: rgba(250, 250, 250, 0.85);
    box-shadow: 10px 10px 5px 0 rgba(15,15,15, 0.404);
    width: 370px;
    min-height: 40vh;
    border-radius: 10px;
    padding: 20px 4px 0px 0px;
}
.single-all-cards li{
    display: flex;
    text-align: center;
    line-height: 50px;
    padding-right: 0px ;
    padding-left: 10 ;

}
@media only screen and (max-width: 800px) {
    .single-details{
        grid-template-columns: 1fr;
    }
    .single-all-cards{
        width: 300px;
        height: 60vh;

    }
    .single-all-cards li{
        line-height: 35px; 
    }
    .text-center{
        display: flex;
        text-align: center;
        margin-left: 40px;
        font-size: 20px;
        margin-top: 50px;
    }
}