.mainbody {
	background-image: url("../mainBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat
}
.loginForm{
		
		margin-top: 30vh;
		background-color:  rgb(230, 230, 230);
		opacity: 0.9;
}
.formStyling{
margin-top: 50px;
margin-bottom: 50px;
}
.inputBox{
		border-radius: 20px;
}
.logoStyle{
		width: 70px;
		height: 70px;
		border-radius: 360px;
}
.formStyle{
	 margin-left: -100px;
	 margin-top: 20px;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);     
}