.singleWarden {
    display: grid;
    grid-template-columns: 15% 85%;
    /* grid-gap: 100px; */
    grid-template-areas: 
    "sidebar viewSingleWarden"  
}
@media only screen and (max-width: 800px) {
    .singleWarden {
        grid-gap: 0px;
        grid-template-areas:  
        "sidebar sidebar" 
        "viewSingleWarden viewSingleWarden"
    }
}