.sidebar {
    background: #F8F5F5;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    grid-area: sidebar;
}
.sidebar a {
    margin-top: 30px;
    color:  #737070;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    color: #ffffff;
    background: #3D5AF1;
}
.sidebar span{
    padding: 8px;
}
@media (max-width: 768px) {
    .sidebar{
        width: 0;
    }
    .sidebar a{
        color: #ffff;
    }
    .sidebar a:hover{
        /* color: #ffffff; */
        background: #3D5AF1;
    }
}
/* [aria-controls="menu-list"]{
    display: none;
} */